<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="temp :: head"></head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" th:replace="temp::nav"></nav>

<div class="container-fluid" style="margin-top: 80px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-success" role="alert" th:text="'当前登录用户：'+${session.get('user')}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" th:replace="temp :: leftNav"></div>

        <div class="col-md-8">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                资产出库
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <form id="chukuForm">
                                <div class="form-group">
                                    <label for="rukudanId">入库单ID</label>
                                    <select name="rukudanId" id="rukudanId">
                                        <option th:each="rkd : ${rukudans}" th:value="${rkd.id}" th:text="${rkd.name}"></option>
                                    </select>
                                </div>
                            </form>
                            <button type="button" class="btn btn-primary" onclick="chuku()">出库</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->



<footer th:replace="temp :: footer"></footer>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/js/jquery-1.10.2.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/qrcode.min.js"></script>

<script>
    function chuku() {//出库
        $.getJSON("/asset/chuku",$("#chukuForm").serialize(), function (res) {
            location.href = location.href;//刷新
        })
    }
</script>
</body>
</html>