<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="temp :: head"></head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" th:replace="temp::nav"></nav>

<div class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-success" role="alert" th:text="'当前登录用户：'+${session.get('user')}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="/user/user" type="button" class="list-group-item ">提交申请</a>
                <a href="/user/applications" type="button" class="list-group-item active">我的申请单</a>

            </div>
        </div>
        <div class="col-md-8">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                我的申请单
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">

                            <table class="table table-bordered">
                                <tr>
                                    <th class="active">序号</th>
                                    <th class="success">申请人</th>
                                    <th class="warning">资产名称</th>
                                    <th class="danger">申请日期</th>
                                    <th class="info">处理日期</th>
                                    <th class="info">申请理由</th>
                                    <th class="info">处理人</th>
                                    <th class="info">处理意见</th>
                                    <th class="info">状态</th>
                                    <th class="info">类型</th>
                                </tr>
                                <tr th:each="app,appStat : ${applications}">
                                    <td class="active" th:text="${appStat.index+1}">...</td>
                                    <td class="success" th:text="${app.username}">...</td>
                                    <td class="warning" th:text="${app.assetName}">...</td>
                                    <td class="danger" th:text="${app.beginDate}">...</td>
                                    <td class="info" th:text="${app.resultDate}">...</td>
                                    <td class="info" th:text="${app.content}">...</td>
                                    <td class="info" th:text="${app.manager}">...</td>
                                    <td class="info" th:text="${app.resultContent}">...</td>
                                    <td class="info" th:text="${app.status}">...</td>
                                    <td class="info" th:text="${app.type}">...</td>
                                </tr>
                            </table>



                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->



<footer th:replace="temp :: footer"></footer>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/js/jquery-1.10.2.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/qrcode.min.js"></script>

<script>
    var qrs = document.getElementsByClassName("qr");
    if (qrs.length) {
        for(var i in qrs){
            new QRCode(qrs[i],"http://xchgx.vicp.net/assetById?assetId="+qrs[i].id);
        }
    }


function addApplication() {
    $.post("/application/add",$("#addForm").serialize(),function (res) {
        location.href=location.href;
    });
    return false;
}
</script>
</body>
</html>