<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="temp :: head"></head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" th:replace="temp::nav"></nav>

<div class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h1 th:text="${asset.name}"></h1>
                <div class="qr" style="width: 100px;height: 100px;"><div id="localQr"></div></div>
                <p th:text="'类型:'+${asset.type}"></p>
                <p th:text="'类型:'+${asset.readme}"></p>
                <p th:text="'单价:'+${asset.price}"></p>
                <p th:text="'生产日期:'+${asset.scrq}"></p>
                <p th:text="'保质期:'+${asset.bzq}"></p>
                <p th:text="'入库单号:'+${asset.rukudanId}"></p>
                <p th:text="'使用者:'+${asset.username}"></p>
                <p th:text="'状态:'+${asset.status}"></p>
                <p th:utext="${op}">
<!--                    <a class="btn btn-sm btn-primary item" th:each="o : ${op}" th:text="${o.content}" th:href="${o.url}"></a>-->
                </p>
                <p th:utext="${menu}"></p>
<!--                <p>-->
<!--                    <a th:href="|/application/addQuick?type=领用&assetId=${asset.id}|" type="button" class="btn btn-primary">领用申请</a>-->
<!--                    <a th:href="|/application/addQuick?type=维修&assetId=${asset.id}|" type="button" class="btn btn-primary">维修申请</a>-->
<!--                    <a th:href="|/application/addQuick?type=报废&assetId=${asset.id}|" type="button" class="btn btn-primary">报废申请</a>-->
<!--                    <a th:href="|/asset/set?status=空闲&assetId=${asset.id}|" type="button" class="btn btn-success">设置空闲</a>-->
<!--                    <a th:href="|/asset/set?status=维修&assetId=${asset.id}|" type="button" class="btn btn-success">设置维修</a>-->
<!--                    <a th:href="|/asset/set?status=报废&assetId=${asset.id}|" type="button" class="btn btn-success">设置报废</a>-->
<!--                </p>-->
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
                                申请单
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <div class="row">
                                <table border="1" width="100%" class="table table-bordered table-hover table-striped">
                                    <tr><th>序号</th><th>申请人</th><th>资产名称</th><th>申请理由</th><th>申请单类型</th><th>开始状态</th><th>结束状态</th><th>申请单状态</th><th>操作项</th></tr>
                                    <tr th:each="app : ${applications}">
                                        <td th:text="${appStat.index+1}"></td>
                                        <td th:text="${app.username}"></td>
                                        <td th:text="${app.assetName}"></td>
                                        <td th:text="${app.content}"></td>
                                        <td th:text="${app.type}"></td>
                                        <td th:text="${app.start}"></td>
                                        <td th:text="${app.stop}"></td>
                                        <td th:text="${app.status}"></td>
                                        <td th:utext="${app.operation}"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
                                使用者变更记录
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <div class="row">
                                <table border="1" width="100%" class="table table-bordered table-hover table-striped">
                                    <tr><th>序号</th><th>申请人</th><th>资产名称</th><th>申请理由</th><th>申请单类型</th><th>开始状态</th><th>结束状态</th><th>申请单状态</th><th>操作项</th></tr>
                                    <tr th:each="app : ${userChangeApplications}">
                                        <td th:text="${appStat.index+1}"></td>
                                        <td th:text="${app.username}"></td>
                                        <td th:text="${app.assetName}"></td>
                                        <td th:text="${app.content}"></td>
                                        <td th:text="${app.type}"></td>
                                        <td th:text="${app.start}"></td>
                                        <td th:text="${app.stop}"></td>
                                        <td th:text="${app.status}"></td>
                                        <td th:utext="${app.operation}"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->



<footer th:replace="temp :: footer"></footer>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/js/jquery-1.10.2.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/qrcode.min.js"></script>

<script>
    var qrs = document.getElementsByClassName("qr");
    var localQr = document.getElementById("localQr");
    if (qrs.length) {
        for(var i in qrs){
            new QRCode(qrs[i],"http://xchgx.vicp.net/assetById?assetId="+qrs[i].id);
        }
    }
    new QRCode(localQr, location.href);
</script>
</body>
</html>








