<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="temp :: head"></head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" th:replace="temp::nav"></nav>

<div class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-success" role="alert" th:text="'当前资产实体数量：'+${#lists.size(assets)}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3" th:each="ast : ${assets}" >
            <a th:href="'/assetById?assetId='+${ast.id}"><div class="qr" th:id="${ast.id}"></div></a>
            <div><h1 th:text="${ast.name}+'('+${ast.id}+')'"></h1></div>
            <div><h2 th:text="'使用者：'+${ast.username}"></h2></div>
            <div><h2 th:text="'入库单号：'+${ast.rukudanId}"></h2></div>
            <div><h2 th:text="'状态：'+${ast.status}"></h2></div>
            <a th:href="|/application/addQuick?type=领用&assetId=${ast.id}|" type="button" class="btn btn-primary">领用申请</a>
            <a th:href="|/application/addQuick?type=维修&assetId=${ast.id}|" type="button" class="btn btn-primary">维修申请</a>
            <a th:href="|/application/addQuick?type=报废&assetId=${ast.id}|" type="button" class="btn btn-primary">报废申请</a>
            <a th:href="|/application/addQuick?type=空闲&assetId=${ast.id}|" type="button" class="btn btn-primary">归还申请</a>
<!--            <a th:href="|/asset/set?status=空闲&assetId=${ast.id}|" type="button" class="btn btn-success">设置空闲</a>-->
<!--            <a th:href="|/asset/set?status=维修&assetId=${ast.id}|" type="button" class="btn btn-success">设置维修</a>-->
<!--            <a th:href="|/asset/set?status=报废&assetId=${ast.id}|" type="button" class="btn btn-success">设置报废</a>-->
        </div>
    </div>
</div> <!-- /container -->



<footer th:replace="temp :: footer"></footer>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/js/jquery-1.10.2.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/qrcode.min.js"></script>

<script>
    var qrs = document.getElementsByClassName("qr");
    var localQr = document.getElementById("localQr");
    if (qrs.length) {
        for(var i in qrs){
            new QRCode(qrs[i],"http://xchgx.vicp.net/assetById?assetId="+qrs[i].id);
        }
    }
    new QRCode(localQr, location.href);
</script>
</body>
</html>