<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>所有资产</title>
</head>
<body>
<div id="qrs">
    <table border="1" width="100%">
        <tr><td>资产ID</td><td>资产名称</td><td>二维码</td></tr>
        <tr th:each="a : ${assets}">
            <td th:text="${a.id}"></td>
            <td th:text="${a.name}"></td>
            <td><div th:id="${a.id}" class="qr"></div></td>
        </tr>
    </table>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/qrcode.min.js"></script>
<script>
    var qr = document.getElementsByClassName("qr");
    for(var i in qr){
        console.log(qr[i].id)
        new QRCode(qr[i],"http://xchgx.vicp.net/asset/byId/"+qr[i].id);
    }

</script>
</body>
</html>