<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="temp :: head"></head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" th:replace="temp::nav"></nav>

<div class="container" style="margin-top: 80px;">
    <div class="jumbotron">
        <h1>登录后台</h1>
        <p>
        <form action="/login/doLogin" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">用户名</label>
                <input type="text" class="form-control" name="username" id="exampleInputEmail1" placeholder="用户名" list="usernameList">
                <datalist id="usernameList">
                    <option label="张三" value="user1"></option>
                    <option label="李四" value="user2"></option>
                    <option label="管理员" value="admin"></option>
                    <option label="李佳燊" value="20182011001"></option>
                    <option label="陈千" value="20182011002"></option>
                    <option label="李启国" value="20182011003"></option>
                    <option label="金刘星" value="20182011005"></option>
                    <option label="吴宇" value="20182011006"></option>
                    <option label="李仁泽" value="20182011007"></option>
                    <option label="王业" value="20182011008"></option>
                    <option label="吴小坤" value="20182011009"></option>
                    <option label="吴鸿韬" value="20182011010"></option>
                    <option label="姚玮"  value="20182011012"></option>
                    <option label="张煜锋" value="20182012011"></option>
                    <option label="赖家铭" value="20182011013"></option>
                    <option label="宋嘉诚" value="20182071001"></option>
                    <option label="龚雄伟" value="20182071002"></option>
                    <option label="杨文龙" value="20182071003"></option>
                    <option label="胡奇"  value="20182071004"></option>
                    <option label="汪海"  value="20182071005"></option>
                    <option label="熊凯"  value="20182071006"></option>
                    <option label="赵竟"  value="20182071007"></option>
                    <option label="黄淋康" value="20182071008"></option>
                    <option label="陈佳"  value="20182071009"></option>
                    <option label="李舒普" value="20182071011"></option>
                    <option label="尹练宇" value="20182072001"></option>
                </datalist>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">密码</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="密码">
            </div>
            <div>(测试账号  user1:123456,  user2:123456,  admin:123456)</div>
            <button type="submit" class="btn btn-primary">登录</button>
        </form>
        </p>
        <p class="text-center">
            <a href="/login/"><div id="localQr"></div></a>
        </p>
    </div>
</div> <!-- /container -->



<footer th:replace="temp :: footer"></footer>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/js/jquery-1.10.2.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/qrcode.min.js"></script>

<script>
    var qrs = document.getElementsByClassName("qr");
    var localQr = document.getElementById("localQr");
    if (qrs.length) {
        for(var i in qrs){
            new QRCode(qrs[i],"http://xchgx.vicp.net/assetById?assetId="+qrs[i].id);
        }
    }
    new QRCode(localQr, location.href);
</script>
</body>
</html>