<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="temp :: head"></head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" th:replace="temp::nav"></nav>

<div class="container" style="margin-top: 80px;">
    <div class="jumbotron">
        <h1>登录后台</h1>
        <p>
        <form action="/login/doLogin" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">用户名</label>
                <input type="text" class="form-control" name="username" id="exampleInputEmail1" placeholder="用户名" list="usernameList">
                <datalist id="usernameList">
                    <option label="张三" value="user1"></option>
                    <option label="李四" value="user2"></option>
                    <option label="管理员" value="admin"></option>

                    <option value="20182011001" label="李佳燊-2018级计算机软件班"></option>
                    <option value="20182011002" label="陈千-2018级计算机软件班"></option>
                    <option value="20182011003" label="李启国-2018级计算机软件班"></option>
                    <option value="20182011005" label="金刘星-2018级计算机软件班"></option>
                    <option value="20182011006" label="吴宇-2018级计算机软件班"></option>
                    <option value="20182011007" label="李仁泽-2018级计算机软件班"></option>
                    <option value="20182011008" label="王业-2018级计算机软件班"></option>
                    <option value="20182011009" label="吴小坤-2018级计算机软件班"></option>
                    <option value="20182011010" label="吴鸿韬-2018级计算机软件班"></option>
                    <option value="20182011012" label="姚玮-2018级计算机软件班"></option>
                    <option value="20182012011" label="张煜锋-2018级计算机软件班"></option>
                    <option value="20182012012" label="吴禹轩-2018级计算机软件班"></option>
                    <option value="20182012013" label="叶子龙-2018级计算机软件班"></option>
                    <option value="20182011013" label="赖家铭-2018级计算机软件班"></option>
                    <option value="20182071001" label="宋嘉诚-2018级计算机软件班"></option>
                    <option value="20182071002" label="龚雄伟-2018级计算机软件班"></option>
                    <option value="20182071003" label="杨文龙-2018级计算机软件班"></option>
                    <option value="20182071004" label="胡奇-2018级计算机软件班"></option>
                    <option value="20182071005" label="汪海-2018级计算机软件班"></option>
                    <option value="20182071006" label="熊凯-2018级计算机软件班"></option>
                    <option value="20182071007" label="赵竟-2018级计算机软件班"></option>
                    <option value="20182071008" label="黄淋康-2018级计算机软件班"></option>
                    <option value="20182071009" label="陈佳-2018级计算机软件班"></option>
                    <option value="20182071010" label="张轩-2018级计算机软件班"></option>
                    <option value="20182071011" label="李舒普-2018级计算机软件班"></option>
                    <option value="20182072001" label="尹练宇-2018级计算机软件班"></option>
                </datalist>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">密码</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="密码">
            </div>
            <div>(测试账号  user1:123456,  user2:123456,  admin:123456)</div>
            <button type="submit" class="btn btn-primary">登录</button>
        </form>
        </p>
        <p class="text-center">
            <a href="/login/"><div id="localQr"></div></a>
        </p>
    </div>
</div> <!-- /container -->



<footer th:replace="temp :: footer"></footer>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/js/jquery-1.10.2.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/qrcode.min.js"></script>

<script>
    var qrs = document.getElementsByClassName("qr");
    var localQr = document.getElementById("localQr");
    if (qrs.length) {
        for(var i in qrs){
            new QRCode(qrs[i],"http://xchgx.vicp.net/assetById?assetId="+qrs[i].id);
        }
    }
    new QRCode(localQr, location.href);
</script>
</body>
</html>