<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>湖北开放职业学院-资产管理系统首页</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .qr{
            width: 100%;
            height: 100%;
        }
        .qr img{
            width: 100%;height: 100%;
        }

    </style>
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" th:fragment="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">资产管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/index">首页</a></li>
                <li class=""><a href="/login/">登录</a></li>
                <li><a href="#about">资产统计</a></li>
                <li><a href="#contact">日志</a></li>
                <!--                <li class="dropdown">-->
                <!--                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                <!--                    <ul class="dropdown-menu">-->
                <!--                        <li><a href="#">Action</a></li>-->
                <!--                        <li><a href="#">Another action</a></li>-->
                <!--                        <li><a href="#">Something else here</a></li>-->
                <!--                        <li role="separator" class="divider"></li>-->
                <!--                        <li class="dropdown-header">Nav header</li>-->
                <!--                        <li><a href="#">Separated link</a></li>-->
                <!--                        <li><a href="#">One more separated link</a></li>-->
                <!--                    </ul>-->
                <!--                </li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="|/${session.get('user')?.role}/index|" th:text="'当前登录的用户:'+${session.get('user')?.name}" th:if="${session.get('user')}"></a></li>
                <li><a href="/login/" th:unless="${session.get('user')}" class="text-warning">您没有登录</a></li>
                <!--                <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>-->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-success" role="alert" th:text="'当前资产实体数量：'+${#lists.size(assets)}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3" th:each="ast : ${assets}" >
            <div class="panel panel-success">
                <div class="panel-heading" th:text="'资产名称：'+${ast.name}+'('+${ast.id}+')'">Panel heading without title</div>
                <div class="panel-body">
                    <h1 th:text="'使用者：'+${ast.username}"></h1>
                    <h2 th:text="'入库单号：'+${ast.rukudanId}"></h2>
                    <div class="qr" th:id="${ast.id}"></div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->

<!--侧边功能导航 start-->
<div class="col-md-4" th:fragment="leftNav">
    <div class="list-group">
        <a href="/admin/index" type="button" class="list-group-item list-group-item-success  btn">资产入库</a>
        <a href="/admin/chuku" type="button" class="list-group-item list-group-item-warning btn">资产出库</a>
        <a href="/admin/applications" type="button" class="list-group-item list-group-item-danger btn">申请单</a>
        <a href="/admin/assets" type="button" class="list-group-item list-group-item-info btn">现有资产</a>
    </div>
</div>
<!--侧边功能导航 end-->

<!--底部 begin-->
<footer role="contentinfo" class="manager_footer" th:fragment="footer">
    <!--TODO 网页脚步 footer-->

    <div class="row">
        <div class="col-xs-12 text-center"><a href="index"><img src="/img/xiaohuiWhiteFont100px.png" width="80" alt="湖北开放职业学院"></a></div>
    </div>
    <div class="row text-center">
        <div class="col-xs-2"></div>
        <div class="col-xs-2"><a href="javascript:void 0;" title="TWitte Profile"><span class="icon fa fa-twitter fa-4x"></span></a></div>
        <div class="col-xs-2"><a href="javascript:void 0;" title="Facebook Page"><span class="icon fa fa-facebook fa-4x"></span></a></div>
        <div class="col-xs-2"><a href="javascript:void 0;" title="TWitte Profile"><span class="icon fa fa-linkedin fa-4x"></span></a></div>
        <div class="col-xs-2"><a href="javascript:void 0;" title="TWitte Profile"><span class="icon fa fa-google-plus fa-4x"></span></a></div>
        <div class="col-xs-2"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center"><p><small>Copyright &copy; 湖北开放职业学院 <a href="#" title="数字信息化教育教学管理中心">数字信息化教育教学管理中心</a> 陈老师 Q:17902055</small></p></div>
    </div>

    <!--footer end-->
</footer>

</body>
</html>